<br>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of participantes">
            <td>{{p.Id}}</td>
            <td>{{p.Nome}}</td>
            <td>{{p.Email}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="fas far fa-edit"></span>
                  </button>
                  <button type="button" class="btn btn-default" (click)="delete(p)">
                    <span class="far fa-trash-alt"></span>
                  </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default" (click)="onNovo()">Novo</button>