

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Participante Ganhador</th>
            <th scope="col">Participante Perdedor</th>
            <th scope="col">Etapa</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let d of devedoresRoot.devedores; let i = index">
            <th scope="row"></th>
            <td>{{d.participante_ganhador.nome}}</td>
            <td>{{d.participante_perdedor.nome}}</td>
            <td>etapa.nome</td>
            <td><button type="button" [ngClass]="(d.pago == 'F') ? 'btn btn-danger' : 'btn btn-success'" [disabled]="d.pago == 'T' ? true : false">{{d.pago == 'F' ? 'Pagar' : 'Pago'}}</button></td>
        </tr>

    </tbody>
</table>
