<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" class="form-control" id="Nome" placeholder="Nome" name="Nome" ngModel required>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" id="Email" placeholder="Nome" name="email" ngModel required email>
  </div>
  <button type="submit" class="btn btn-success">Salvar</button>
  <div style="float:right;">
    <button class="btn btn-defaut" (click)="onVoltarTabelaParticipante()">Voltar</button>
  </div>
</form>