.imgheaderLogin{
    height: 60px;
    width: 66px;
    margin-left: 40%;
    margin-bottom: 2%;
}

.btn-login{
    background-color:#87CEEB;
    color: white; 
    margin-bottom: 13%;   
}

.chk{
    align-content:flex-end !important;
}
.chk-label{
    margin-left:5%;
    margin-top:1%;
}

.div-check{
    align-content:flex-end;
    margin-top:1%;
    margin-bottom: 5%;
}



