.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #2980B9!important;
    background-color: #2980B9!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980B9), color-stop(100%, #2980B9))!important;
    background: -webkit-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -moz-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -ms-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -o-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: linear-gradient(to bottom, #2980B9 0%, #2980B9 100%)!important;
}