<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="f.form.valid && validarUsuario(f)" novalidate>
                                <div class="form-group" style="width: 100%">
                                    <input type="text" class="form-control" id="nome" placeholder="nome" name="nome" [(ngModel)]="usuario.nome" required
                                      #nome="ngModel">
                                  </div>
                                  <div *ngIf="f.submitted && !nome.valid" class="alert alert-danger" role="alert">
                                    <div *ngIf="nome.errors.required">Preencha o nome!</div> 
                                  </div>
                                  <div class="form-group" style="width: 100%">
                                    <input type="password" class="form-control" id="senha" placeholder="senha" name="senha" [(ngModel)]="usuario.senha" required
                                      #senha="ngModel">
                                  </div>
                                  <div *ngIf="f.submitted && !senha.valid" class="alert alert-danger" role="alert">
                                    Preencha a senha!
                                  </div>
                                  <button type="submit" class="btn btn-success">logar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-alerts></ngx-alerts>