.imgheaderLogin{
    height: 60px;
    width: 80px;
    margin-left: 40%;
    margin-bottom: 10%;
}
#body{
    background-image: linear-gradient(to bottom right, blue, gray);
}

.btn-login{
    background-color:#87CEEB;
    color: white;    
}

.login-page {
    height: 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

html{
    background-color: blue !important;
}
